body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 900px;
    min-width: 360px;
    margin: auto;
}

.display-none {
    display: none;
}

.intro {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    overflow: hidden;

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    &-wedding {
        font-size: 35px;
        font-style: italic;
        text-align: center;
        padding-bottom: 10px;
        color: #595959;
    }

    &-names {
        margin: 0 40px 0 40px;

        img {
            position: relative;
            width: 100%;
            max-width: 350px;
        }
    }


    &-date {
        color: #595959;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 25px;
        font-style: italic;
    }

    .corintio {
        position: relative;
        width: 100%;
        max-width: 397px;
        font-size: 20px;
        &-text {
            text-align: center;
            color: #666666;
            padding-bottom: 15px;
        }

        &-quote {
            text-align: center;
            color: #bf9000;
        }
    }

    &-img {
        position: relative;
        width: 100%;
        max-width: 530px;
    }
}

.ceremony {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    &-img-1 {
        width: 100%;
    }

    &-img-2 {
        width: 100%;
    }

    &-wedding {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        transform: translateY(-30px);
        &-info {
            position: relative;
            width: 40%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            justify-content: space-between;

            .place {
                margin-bottom: 10px;
                color: #595959;
            }

            
        }

    }

}

.itinerary {
    position: relative;
    height: 100vh;
    min-height: 750px;
    box-sizing: border-box;
    padding-top: 35px;
    color: #595959;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .timeline-item {
        display: flex;
        position: relative;
        width: 80%;
        margin-left: auto;
    }

    .icon {
        width: 100px;
        height: 85px;
        overflow: hidden;
        display: inline-block;

        img {
            position: relative;
            width: 100%;
        }
        &-last{
            .icon{

                width: 150px;
                transform: translateX(-30px);
            }
            ol{
                transform: translateX(-50px);
            }
            li {
                border-left:  solid 0.1rem;
                padding-bottom: 0;
              }
        }
    }

    .list {
        font-size: 20px;
        position: relative;
        z-index: 100;
        width: 70%;
        min-width: 395px;
        transform: translateY(45px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        position: relative;
        width: 100%;
    }
}

.gifts {
    position: relative;
    font-size: 18px;
    height: 100vh;
    min-height: 750px;
    box-sizing: border-box;
    padding-top: 35px;
    color: #595959;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-text {
        position: relative;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .subtitles {
        display: flex;
        width: 100%;
    }

    &-info {
        display: flex;
        justify-content: space-evenly;

        div {
            width: 45%;
        }
    }
    img{
        position: relative;
        width: 100%;
    }
    .icono-regalo{
        max-width: 450px;
        width: 70%;
    }
}
.asistencia{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img{
        width: 100%;
    }
    .title{
        width: 80%;
    }
    .container{
        width: 90%;
        display: flex;
        margin: 30px 0;
        color: #595959;
        font-size: 20px;
        text-align: justify;
        div{
            padding: 0 10px;
        }
    }
}

.subtitle {
    width: 100%;
    font-size: 25px;
    color: #bf9000;
}

section .title {
    text-align: center;
    color: #bf9000;
    width: 100%;
    font-size: 35px;
}


.button {
    text-align: center;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
    border: solid #595959;
    border-radius: 25px;
    justify-self: end;
    cursor: pointer;
}

.golden-text {
    background: linear-gradient(#fff8dc,
            /* light cream */
            #f5d76e,
            /* light gold */
            #e6b800,
            /* strong gold */
            #c49102,
            /* deep gold */
            #f5d76e,
            /* light gold */
            #fff8dc
            /* highlight again */
        );
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

//fonts
.eb-garamond-400 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.eb-garamond-600 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

.cormorant-300 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

// play panel

audio::-webkit-media-controls-panel {
    background-color: #595959;
    border-radius: 0;
    color: #fff;
}

audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 25px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-mute-button {
    display: none;
    width: 0;

}

//timeline

ol {
    margin: 0;
    padding-inline-start: 20px;
}

li {
    border-left: #595959 solid 0.1rem;
    display: flex;
    padding: 0 0 1rem 2rem;
    position: relative;
    padding-bottom: 35px;
}

li::before {
    background-color: #595959;
    border-radius: 100%;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 9px;
    left: -0.29rem;
}

.dotted-border {
    border: none;
    padding: 4px;
    width: 5px !important;
    background-image: radial-gradient(#595959 0.6px, transparent 1px);
    background-size: 10px 10px;
    background-repeat: repeat;
    background-position: 0 0;
    box-sizing: border-box;
    margin-top: 5px;
}

.dotted-border-horizontal {
  border: none;
  padding: 4px;
  width: 95%;
  background-image: radial-gradient(#595959 0.6px, transparent 1px);
  background-size: 10px 10px;
  background-repeat: repeat;
  background-position: 0 0;
  box-sizing: border-box;
  margin-block: 10px;
}

@media screen and (width < 395px) {
    .itinerary {
        align-items: start;
    }
}