body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.display-none {
  display: none;
}

.intro {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 100vh;
}
.intro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-wedding {
  font-size: 35px;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
  color: #595959;
}
.intro-names {
  margin: 0 40px 0 40px;
}
.intro-names img {
  position: relative;
  width: 100%;
}
.intro-date {
  color: #595959;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}
.intro .corintio {
  position: relative;
  width: 50%;
}
.intro .corintio-text {
  text-align: center;
  color: #666666;
  padding-bottom: 15px;
}
.intro .corintio-quote {
  text-align: center;
  color: #bf9000;
}
.intro-image {
  bottom: 0;
  position: relative;
  background-image: url("./resources/jr_intro.png");
  width: 100%;
  height: 100%;
  background-size: 212%;
  background-position: center;
  background-repeat: no-repeat;
}
.intro-2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  box-sizing: border-box;
  position: relative;
}
.intro-2 .male-leter {
  position: absolute;
  transform: translate(-42px, 0px);
  font-size: 35px;
}
.intro-2 .female-leter {
  position: absolute;
  font-size: 35px;
  transform: translate(-10px, -45px);
}
.intro-2 .audio-player {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 30px;
}
.intro-2 .audio-player audio {
  height: 40px;
  width: 100%;
  border-radius: o;
}
.intro-2-container {
  margin-left: 25%;
  position: relative;
  border-left: solid #000;
  padding-left: 20px;
  height: 90%;
  padding-right: 20px;
}
.intro-2-container .rama {
  background-image: url("./resources/ramas.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 30%;
  transform: translate(-30%, 45px) rotate(-90deg);
}
.intro-2-container .wedding-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.intro-2-container .wedding-info .title {
  width: 50%;
  font-size: 30px;
  color: #bf9000;
}
.intro-2-container .wedding-info .place {
  margin-bottom: 10px;
  color: #595959;
}
.intro-2-container .wedding-info .button {
  border: solid #000;
}

.itinerary {
  font-size: 35px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 35px;
  color: #595959;
}
.itinerary-text {
  margin-left: 30px;
}
.itinerary .list {
  font-size: 20px;
  position: absolute;
  z-index: 100;
  margin-left: 10px;
}
.itinerary .list ul li {
  margin-bottom: 20px;
}
.itinerary .image {
  position: absolute;
  background-image: url("./resources/jr_itinerary.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 62vh;
  bottom: 0px;
}

.button {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.golden-text {
  background: linear-gradient(#fff8dc, #f5d76e, #e6b800, #c49102, #f5d76e, #fff8dc);
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.eb-garamond-400 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.eb-garamond-600 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.cormorant-300 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

audio::-webkit-media-controls-panel {
  background-color: #595959;
  border-radius: 0;
  color: #fff;
}

audio::-webkit-media-controls-play-button {
  background-color: #fff;
  border-radius: 25px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-mute-button {
  display: none;
  width: 0;
}/*# sourceMappingURL=index.css.map */